.Weather div.row.mt-3 {
    margin: 75px;
    
}

.Weather {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #dadde1;
    padding: 25px;
    border-radius: 4px;
    color: rgb(73, 75, 73);
}

.Weather h1 {
    font-size: 28px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
    text-align: center;
}

Weather ul {
    margin: 0;
    padding: 0;
    padding-left: -32px;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 13px;
    list-style: none;
    text-align: center;
    margin: 6px;
}
.Weather canvas {
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
}

.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height:64px;
    font-weight: 400;
}

.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
}

.Weather .btn-primary {
    color: #fff;
    background-color: #052972;
    border-color: #052972;
    border-radius: 8px;
}